#posts-container {
    overflow: hidden;
    margin-right: 30px;
    font-size: 15px;
}

.column {
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

.loading {
    margin-top: 150px;
    background-color: white;
}

#page-number p {
    margin: 0;
    font-size: 20px;
}