<div class="containter column" id="posts-container">
    <!-- Container header -->
    <div class="row align-items-center">
        <div class="col-4">
            <h3>Posts feed</h3>
        </div>
        <div class="col-5" align="right">
            <div class="row align-items-center">
                <div class="col-4">
                    <strong>Sort by: </strong>
                </div>
                <div class="col-8">
                    <select class="form-control" name="sort-posts" id="sort-posts" (change)="sortPosts($event)">
                        <option value="latest-first" selected>Most recent first</option>
                        <option value="oldest-first">Oldest first</option>
                        <option value="largest-reward-first">Largest reward</option>
                        <option value="smallest-reward-first">Smallest reward</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-3" align="right">
            <button class="btn btn-primary" routerLink="/posts/add">Add
                <span class="d-none d-lg-inline d-xl-inline">post</span>
            </button>
        </div>
    </div>
    <!-- Separator -->
    <hr class="mt20">

    <!-- Posts -->
    <div *ngFor="let post of this.posts">
        <!-- Post -->
        <app-post class="post" [post]="post" routerLink="/post/{{ this.post.id }}"></app-post>
        <!-- Separator -->
        <hr *ngIf="post != this.posts[this.posts.length - 1]">
    </div>

    <div *ngIf="this.posts.length < 1">
        <h1 class="loading">There are no posts.</h1>
    </div>

    <!-- Loading -->
    <div *ngIf="!this.posts">
        <h1 class="loading">Loading posts...</h1>
    </div>

    <!-- Pages -->
    <div *ngIf="this.posts.length > 0" class="row align-items-center mt30">
        <div class="col-5" align="right">
            <button class="btn btn-primary" (click)="this.pageBack()"><</button>
        </div>
        <div class="col-2" align="center">
            <span id="page-number"><p>{{ this.pageNumber }} of {{ this.numOfPages }}</p></span>
        </div>
        <div class="col-5" align="left">
            <button class="btn btn-primary" (click)="this.pageNext()">></button>
        </div>
    </div>

</div>