<article *ngIf="this.post">
    <div class="containter">
        <!-- Pet's info -->
        <div class="content mb30" id="pet-info">
            <!-- Title -->
            <div class="row align-items-bottom">
                <div class="col-6">
                    <h3 class="m0">About your pet</h3>
                </div>
                <div class="col-6" align="right">
                    <button class="btn btn-primary" (click)="goBack()">Go back</button>
                </div>
            </div>

            <!-- Separator -->
            <hr class="mt15 mb30">

            <!-- Pet's info -->
            <div class="row align-items-center">
                <div class="col-5">
                    <img src="../assets/paw-square.png" alt="Pet's name">
                    <div class="form-group mt20">
                        <label>
                            <strong>Upload picture</strong>
                        </label>
                        <input type="file" class="form-control-file" id="exampleInputFile" accept=".png, .jpg, .jpeg" aria-describedby="fileHelp"
                            (change)="serPictureUrl($event)" [disabled]="this.actionToPerform == 'edit'">
                        <small id="fileHelp" class="form-text text-muted mt10">Uploading a picture of your pet will make it easier for people to identify it.</small>
                    </div>
                </div>
                <div class="col-7">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">
                            <strong>Name: </strong>
                        </label>
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="Your pet's name" [(ngModel)]="this.post.petName" required/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">
                            <strong>Age: </strong>
                        </label>
                        <div class="col-5">
                            <input type="number" class="form-control" id="pet-age" min="1" placeholder="Your pet's age" [(ngModel)]="this.petAge" required/>
                        </div>
                        <div class="col-5">
                            <select class="form-control" id="age-unit" (change)="changeAgeUnit($event)">
                                <option value="years" [selected]="this.ageUnit == 'years'">Years</option>
                                <option value="months" [selected]="this.ageUnit == 'months'">Months</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">
                            <strong>Reward: </strong>
                        </label>
                        <div class="col-5">
                            <input type="number" class="form-control" placeholder="In USD" min="0" max="999" id="pet-reward" [(ngModel)]="this.post.reward" required/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">
                            <strong>Animal: </strong>
                        </label>
                        <div class="col-5">
                            <select class="form-control" id="pet-type" (change)="changedAnimal($event)">
                                <option value="none" disabled selected>Select type...</option>
                                <option value="cat" [selected]="this.post.animal == 'Cat'">Cat</option>
                                <option value="chicken" [selected]="this.post.animal == 'Chicken'">Chicken</option>
                                <option value="dog" [selected]="this.post.animal == 'Dog'">Dog</option>
                                <option value="donkey" [selected]="this.post.animal == 'Donkey'">Donkey</option>
                                <option value="duck" [selected]="this.post.animal == 'Duck'">Duck</option>
                                <option value="goat" [selected]="this.post.animal == 'Goat'">Goat</option>
                                <option value="goose" [selected]="this.post.animal == 'Goose'">Goose</option>
                                <option value="guinea-pig" [selected]="this.post.animal == 'Guinea pig'">Guinea pig</option>
                                <option value="horse" [selected]="this.post.animal == 'Horse'">Horse</option>
                                <option value="sheep" [selected]="this.post.animal == 'Sheep'">Sheep</option>
                                <option value="pig" [selected]="this.post.animal == 'Pig'">Pig</option>
                                <option value="rabbit" [selected]="this.post.animal == 'Rabbit'">Rabbit</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <select class="form-control" id="pet-breed" (change)="changedBreed($event)">
                                <option value="none" disabled selected>Select breed...</option>
                                <option *ngFor="let breed of this.breeds" value="{{ breed.id }}" [selected]="this.post.breed == breed.name">{{ breed.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row mt5">
                        <label class="col-2 col-form-label">
                            <strong>Date:</strong>
                        </label>
                        <div class="col-5">
                            <input type="date" class="form-control" min="2000-01-01" [ngModel]="this.post.lostDate | date:'yyyy-MM-dd'"
                                (ngModelChange)="this.post.lostDate = $event" required/>
                        </div>
                        <div class="col-5">
                            <p class="additional-info">* This is the date your pet got lost.</p>
                        </div>
                    </div>

                    <div class="form-group row mt5">
                        <label class="col-2 col-form-label">
                            <strong>Place: </strong>
                        </label>
                        <div class="col-5">
                            <select class="form-control" id="pet-country" (change)="countryChanged($event)">
                                <option value="none" disabled selected>Select country...</option>
                                <option value="CA" [selected]="'Canada' == this.post.lostPlace.country">Canada</option>
                                <option value="MX" [selected]="'México' == this.post.lostPlace.country">México</option>
                                <option value="US" [selected]="'United States' == this.post.lostPlace.country">United States</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <select class="form-control" id="pet-state" (change)="stateChanged($event)">
                                <option value="none" disabled selected>Select state...</option>
                                <option *ngFor="let state of this.states" value="{{ state.id }}" [selected]="state.name == this.post.lostPlace.state">{{ state.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row mt5">
                        <div class="col-2"></div>
                        <div class="col-5">
                            <select class="form-control" id="pet-city" (change)="cityChanged($event)">
                                <option value="none" disabled selected>Select city...</option>
                                <option *ngFor="let city of this.cities" value="{{ city.id }}" [selected]="city.name == this.post.lostPlace.city">{{ city.name }}</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <p class="additional-info">* This is where your pet got lost.</p>
                        </div>
                    </div>

                    <div class="mt10">
                        <strong>Description: </strong>
                        <textarea class="form-control mt5" rows="3" maxlength="130" placeholder="Write a short description of your pet (130 characters)."
                            [(ngModel)]="this.post.description" id="pet-description"></textarea>
                    </div>
                </div>
            </div>

            <!-- Separator -->
            <hr class="mt20 mb20">

            <div align="right">
                <button class="btn btn-primary" (click)="addPost()">Add post</button>
            </div>

        </div>

        <!-- Owner's info -->
        <div class="content" id="owner-info" *ngIf="this.post.ownerContactInfo">
            <!-- Title -->
            <h3>Owner's contact information</h3>

            <!-- Separator -->
            <hr class="mt20 mb30">

            <div class="form-group row">
                <label class="col-2 col-form-label">
                    <strong>Name: </strong>
                </label>
                <div class="col-10">
                    <input type="text" class="form-control" placeholder="Your name" [(ngModel)]="this.post.ownerContactInfo.name" disabled/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">
                    <strong>Email: </strong>
                </label>
                <div class="col-8">
                    <input type="email" id="owner-email" class="form-control" placeholder="Your email" [(ngModel)]="this.post.ownerContactInfo.email" />
                </div>
                <div class="form-check col-2">
                    <label class="form-check-label">
                        <input type="checkbox" name="show-contact-info" class="form-check-input" [(ngModel)]="this.publishOwnerEmail"> Show
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">
                    <strong>Phone number: </strong>
                </label>
                <div class="col-7">
                    <input type="number" id="owner-phone-number" class="form-control" placeholder="Your phone number" [(ngModel)]="this.post.ownerContactInfo.phoneNumber"
                    />
                </div>
                <div class="form-check col-2">
                    <label class="form-check-label">
                        <input type="checkbox" name="show-contact-info" class="form-check-input" [(ngModel)]="this.publishOwnerPhoneNumber"> Show
                    </label>
                </div>
            </div>
        </div>
    </div>
</article>

<article *ngIf="!this.post">
    <h1 class="loading">Loading post...</h1>
</article>