<div class="containter column" id="filters-container">
  <!-- Container header -->
  <h3>Filter by</h3>
  <hr class="mt25 mb25">

  <!-- Animal filter -->
  <div class="row align-items-center">
      <div class="col-4">
          <strong>Animal</strong>
      </div>
      <div class="col-8">
          <select class="form-control" name="pet-type" id="pet-type">
              <option value="0">All</option>
          </select>
      </div>
  </div>

  <!-- Breed filter -->
  <div class="row mt15 align-items-center">
      <div class="col-4">
          <strong>Breed</strong>
      </div>
      <div class="col-8">
          <select class="form-control" name="pet-breed" id="pet-breed">
              <option value="0">All</option>
          </select>
      </div>
  </div>

  <!-- Color filter -->
  <div class="row mt15 align-items-center">
      <div class="col-4">
          <strong>Color</strong>
      </div>
      <div class="col-8">
          <select class="form-control" name="pet-color" id="pet-color">
              <option value="0">All</option>
          </select>
      </div>
  </div>

  <!-- Reward filter -->
  <div class="row mt15 align-items-center">
      <div class="col-4">
          <strong>Reward</strong>
      </div>
      <div class="col-8">
          <select class="form-control" name="pet-color" id="pet-color">
              <option value="0">Anything</option>
          </select>
      </div>
  </div>

  <div align="center">
    <button class="btn btn-primary mt20 pl50 pr50">Update</button>
  </div>
</div>