#left-container {
    float: left;
    width: 30%;
    overflow: hidden;
    margin: 0 30px 0 30px;
}

#right-container {
    overflow: hidden;
    margin-right: 30px;
    font-size: 15px;
}

.column {
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}